<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('_header'); %>
    <link rel="stylesheet" href="/public/css/home.css">

</head>

<body>
    <div class="container">
        <div class="row">


            <div class="col-md-12">
                <h4>Books in Inventory</h4>
                <div class="table-responsive">


                    <table id="mytable" class="table table-bordred table-striped">

                        <thead>

                            <th><input type="checkbox" id="checkall" /></th>
                            <th>Book Name</th>
                            <th>Author Name</th>
                            <th>Category</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Edit</th>

                            <th>Delete</th>
                        </thead>
                        <tbody>
                            <% if (bookData){ %>
                                <% for(i=0;i<bookData.length;i++){ %>
                                    <tr>


                                            <td>
                                                <%= bookData[i].id %>
                                            </td>

                                            <td>
                                                <%= bookData[i].name %>
                                            </td>
                                            <td>
                                                <%= bookData[i].description %>
                                            </td>
                                            <td>
                                                <%= bookData[i].author %>
                                            </td>
                                            <td>
                                                <%= bookData[i].category %>
                                            </td>
                                            <td>
                                                <%= bookData[i].price %>
                                            </td>
                                            <td>
                                                <%= bookData[i].quantity %>
                                            </td>


                                                <td>
                                                    <p data-placement="top" data-toggle="tooltip" title="Edit"><button
                                                            class="btn btn-primary btn-xs" data-title="Edit"
                                                            data-toggle="modal" data-target="#edit"><span
                                                                class="glyphicon glyphicon-pencil"></span></button></p>
                                                </td>
                                                <td>
                                                    <p data-placement="top" data-toggle="tooltip" title="Delete"><button
                                                            class="btn btn-danger btn-xs" data-title="Delete"
                                                            data-toggle="modal" data-target="#delete"><span
                                                                class="glyphicon glyphicon-trash"></span></button></p>
                                                </td>
                                    </tr>

                                    <% } %>

                                <% } %>
                        </tbody>

                    </table>

                    <div class="clearfix"></div>
                    <ul class="pagination pull-right">
                        <li class="disabled"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
                    </ul>

                </div>

            </div>
        </div>
    </div>
    <script src="/public/js/home.js"></script>
</body>

</html>