<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('_header'); %>
    <link rel="stylesheet" href="/public/css/home.css">

</head>

<body>
    <div class="container">
        <div class="row">


            <div class="col-md-12">
                <h4>Books in Inventory</h4>
                <div class="table-responsive">


                    <table id="mytable" class="table table-bordred table-striped">

                        <thead>
                            <th>Book Name</th>
                            <th>Author Name</th>
                            <th>Description</th>
                            <th>Category</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </thead>

                        <tbody>
                            <% if (bookData){ %>
                                <% for(i=0;i<bookData.length;i++){ %>
                                    <tr>
                                            <td>
                                                <%= bookData[i].name %>
                                            </td>
                                            <td>
                                                <%= bookData[i].author %>
                                            </td>
                                            <td>
                                                <%= bookData[i].description %>
                                            </td>
                                            <td>
                                                <%= bookData[i].category %>
                                            </td>
                                            <td>
                                                <%= bookData[i].price %>
                                            </td>
                                            <td>
                                                <%= bookData[i].quantity %>
                                            </td>
                                                <td>
                                                    <button onclick="editQuantity(this,<%- i %>)" class="btn btn-primary btn-xs"><span 
                                                                class="glyphicon glyphicon-pencil"></span></button>
                                                </td>
                                                <td>
                                                    <button  onclick="removeEntry(this,<%- i %>)" class="btn btn-danger btn-xs" ><span
                                                                class="glyphicon glyphicon-trash"></span></button>
                                                </td>
                                    </tr>

                                    <% } %>

                                <% } %>
                        </tbody>

                    </table>
                </div>

            </div>
        </div>
    </div>
    <script src="/public/js/home.js"></script>
    <script>
        function removeEntry(e,entry){
            $.ajax({
                url:'/delete',
                method:'POST',
                data:JSON.stringify({id:entry}),
                contentType: 'application/json',
                success:(response)=>{
                    console.log(response);
                }
            })
        }
    </script>
</body>

</html>